/* Ensure HTML and BODY take the full viewport height */
html, body {
    height: 100%;
    margin: 0;
}

/* Center the container in the middle of the page */
body {
    position: relative;
}

/* To remove any margins from Bootstrap that may offset it from the center */
.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
}

.results {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
